/*square css*/
.square {
  background: white;
  border: 1px solid gray;
  float: left;  /*use float to put squares next to eachoter*/
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 80px;  
  height: 80px;
  text-align: center; /* set to center so x or o appears in center of square*/
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
}

.square:focus{
  outline: none;
}

/*Board css*/
.board-row:after{
  clear: both; 
  content:"";
  display: table;
} /*helps set box as new line*/

/*game css*/
.game{ /*helps put game in center vertically and horizontally*/
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  display:flex;
  flex-direction: row;
  margin: 0 auto;
}